<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Index Page</title>
    <style type="text/css">
        * {
            font-family: 'Courier New', Courier, monospace;
        }
        
        body {
            margin: 0;
        }
        
        .header {
            margin: 0;
            height: 15vmin;
            width: 100%;
            background-color: gold;
            display: flex;
            font-size: 3vmin;
            font-weight: bold;
        }
        
        .Home_logo {
            margin-top: 0;
            height: 15vmin;
            line-height: 15vmin;
            width: 35%;
            font-weight: bold;
            font-size: 3vmin;
            text-align: center;
            background-color: lightgreen;
        }
        
        .datetime {
            background-color: lightblue;
            width: 25%;
            text-align: center;
            height: 15vmin;
            line-height: 15vmin;
        }
        
        .xiaoli {
            height: 15vmin;
            line-height: 15vmin;
            text-align: center;
            background-color: darksalmon;
            width: 10%;
        }
        
        .zuoxi {
            height: 15vmin;
            line-height: 15vmin;
            text-align: center;
            width: 10%;
            background-color: chartreuse;
        }
        
        .personal_info {
            height: 15vmin;
            line-height: 15vmin;
            text-align: center;
            width: 20%;
        }
        
        .username {
            background-color: aliceblue;
            height: 7vmin;
            line-height: 7vmin;
            overflow: hidden;
        }
        
        .name {
            overflow: hidden;
            height: 8vmin;
            line-height: 8vmin;
            background-color: rgb(167, 202, 69);
        }
        
        .content {
            display: flex;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        
        .menu {
            background-color: antiquewhite;
            height: 85vmin;
            width: 15%;
        }
        
        .tongzhi {
            background-color: aquamarine;
            height: 85vmin;
            width: 30%;
        }
        
        .news_and_yiqing {
            background-color: beige;
            height: 85vmin;
            width: 30%;
        }
        
        .news {
            height: 50vmin;
            background-color: bisque;
        }
        
        .yiqing {
            height: 34vmin;
        }
        
        .hotsearch {
            background-color: burlywood;
            height: 85vmin;
            width: 25%;
        }
        
        .content_name {
            font-size: 3vmin;
            font-family: "微软雅黑", serif;
            height: 3vmin;
            line-height: 3vmin;
            font-weight: bold;
            text-align: center;
        }
        
        .btn {
            margin: 0 auto;
            display: inline-block;
            background-color: #3b3b4f;
            border-radius: 1vmin;
            color: #fff;
            text-decoration: none;
            white-space: pre-line;
            border: 0.1vmin solid black;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
        }
        
        .link-btn {
            color: #006400;
            text-decoration: none;
            background-color: transparent;
        }
        
        .menu ul {
            color: #fff;
            list-style-type: disc;
            padding: 0;
            margin: 0 auto;
        }
        
        .list_wrapper {}
        
        .rank {
            float: left;
        }
        
        .each_hot_search_content>a {}
    </style>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        $(function() {
                setInterval("getTime();", 1000); //每隔一秒执行一次
            })
            //取得系统当前时间
        function getTime() {
            var myDate = new Date();
            var date = myDate.toLocaleDateString();
            var hours = format_time(myDate.getHours());
            var minutes = format_time(myDate.getMinutes());
            var seconds = format_time(myDate.getSeconds());
            $(".datetime")[0].textContent = date + " " + hours + ":" + minutes + ":" + seconds; //将值赋给div
        }

        function format_time(number) {
            if (number < 10) {
                number = '0' + number;
            }
            return number;
        }
    </script>
</head>

<body>
    <div class="header">
        <div class="Home_logo">四川大学教务管理系统小助手mini</div>
        <div class="datetime"></div>
        <div class="xiaoli">
            <a href="/xiaoli/" alt="四川大学校历">学校校历</a>
        </div>
        <div class="zuoxi">
            <a href="/zuoxi/" alt="四川大学作息时间表">
                    作息时间表
                </a>
        </div>
        <div class="personal_info">
            <div class="username">
                2019141460018
            </div>
            <div class="name">
                欢迎你，崔晓东
            </div>
        </div>
    </div>
    <div class="content">
        <div class="menu">
            <div class="content_name">菜单</div>
            <ul data-test-label="learn-curriculum-map">
                <li>
                    <a class="btn link-btn btn-lg" href="/learn/responsive-web-design/">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            个人课表查询
                        </div>
                    </a>
                </li>
                <li>
                    <a class="btn link-btn btn-lg" href="/learn/javascript-algorithms-and-data-structures/">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            教师课表查询
                        </div>
                    </a>
                </li>
                <li>
                    <a class="btn link-btn btn-lg" href="/learn/javascript-algorithms-and-data-structures/">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            开课记录查询查询
                        </div>
                    </a>
                </li>
                <li>
                    <a class="btn link-btn btn-lg" href="/learn/javascript-algorithms-and-data-structures/">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            空闲教室查询
                        </div>
                    </a>
                </li>
                <li>
                    <a class="btn link-btn btn-lg" href="/learn/javascript-algorithms-and-data-structures/">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            课堂笔记记录
                        </div>
                    </a>
                </li>
                <li>
                    <a class="btn link-btn btn-lg" href="/learn/javascript-algorithms-and-data-structures/">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            教师课表查询
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tongzhi">
            <div class="content_name">学校通知</div>
            <div class="tonggao_content">

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8186.htm" alt="关于“军事理论”、“习近平新时代中国特色社会主义思想概论”课程期末考试的通知  target=" _blank "">关于“军事理论”、“习近平新时代中国特色社会主义思想概论”课程期末...</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8181.htm" alt="关于面向全校征集专业思政故事的通知  target=" _blank "">关于面向全校征集专业思政故事的通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8180.htm" alt="2021年下半年四川省全国大学英语四、六级口语考试停考通知  target=" _blank "">2021年下半年四川省全国大学英语四、六级口语考试停考通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8178.htm" alt="关于四川大学2021年“大学生创新创业训练计划”交叉类和创业类项目结题答辩的通知  target=" _blank "">关于四川大学2021年“大学生创新创业训练计划”交叉类和创业类项目结题...</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8173.htm" alt="关于转发第四届全国大学生创新创业实践联盟年会论文、案例征集的通知  target=" _blank "">关于转发第四届全国大学生创新创业实践联盟年会论文、案例征集的通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8171.htm" alt="关于第七届四川大学“互联网+”大学生创新创业大赛产业赛道获奖名单的公示  target=" _blank "">关于第七届四川大学“互联网+”大学生创新创业大赛产业赛道获奖名单的公示</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8170.htm" alt="四川大学本科生深造能力提升系列课程《英语能力与技巧》（2021） 学习通平台课程开放通知  target=" _blank "">四川大学本科生深造能力提升系列课程《英语能力与技巧》（2021）学习通...</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8161.htm" alt="拔尖计划2.0、强基计划本硕博贯通式人才培养方案修订研讨会顺利召开  target=" _blank "">拔尖计划2.0、强基计划本硕博贯通式人才培养方案修订研讨会顺利召开</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8156.htm" alt="关于启动四川大学2021年课程思政榜样课程推荐工作的通知  target=" _blank "">关于启动四川大学2021年课程思政榜样课程推荐工作的通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8155.htm" alt="关于填报2021－2022学年（秋）期末考试课程信息的通知  target=" _blank "">关于填报2021－2022学年（秋）期末考试课程信息的通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8153.htm" alt="关于第二十二期本科教学助教报名和培训的通知  target=" _blank "">关于第二十二期本科教学助教报名和培训的通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8151.htm" alt="关于加强期末考试组织与管理工作的通知  target=" _blank "">关于加强期末考试组织与管理工作的通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8141.htm" alt="关于2021－2022学年（秋）半期考试工作的通知  target=" _blank "">关于2021－2022学年（秋）半期考试工作的通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8139.htm" alt="关于开展2021级本科新生学籍信息自查的通知  target=" _blank "">关于开展2021级本科新生学籍信息自查的通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8137.htm" alt="关于开展2021年度“大学生创新创业训练计划”项目结题评优工作的通知  target=" _blank "">关于开展2021年度“大学生创新创业训练计划”项目结题评优工作的通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8135.htm" alt="关于开展2021-2022学年创新创业教育学分申报工作的通知  target=" _blank "">关于开展2021-2022学年创新创业教育学分申报工作的通知</a>
                </div>

                <div class="each_tonggao">
                    <a href="https://jwc.scu.edu.cn/info/1081/8133.htm" alt="关于四川大学2022年“大学生创新创业训练计划”创业类项目立项答辩的通知  target=" _blank "">关于四川大学2022年“大学生创新创业训练计划”创业类项目立项答辩的通...</a>
                </div>

            </div>
        </div>
        <div class="news_and_yiqing">
            <div class="news">
                <div class="content_name">学校新闻</div>
                <div class="news_content">

                    <div class="each_news">
                        <a href="https://jwc.scu.edu.cn/info/1084/8131.htm" alt="6金2银！我校学子在中国国际“互联网+”创新创业大赛全国总决赛表现优异  target=" _blank "">【置顶】6金2银！我校学子在中国国际“互联网+”创新创业大赛全国总决赛表...</a>
                    </div>

                    <div class="each_news">
                        <a href="https://jwc.scu.edu.cn/info/1084/8127.htm" alt="首届全国教材建设奖名单出炉 我校喜获多项荣誉  target=" _blank "">【置顶】首届全国教材建设奖名单出炉我校喜获多项荣誉</a>
                    </div>

                    <div class="each_news">
                        <a href="https://www.scu.edu.cn/info/1203/19545.htm" alt="学校召开本科通识教育和拔尖人才培养专题工作推进会  target=" _blank "">【置顶】学校召开本科通识教育和拔尖人才培养专题工作推进会</a>
                    </div>

                    <div class="each_news">
                        <a href="https://jwc.scu.edu.cn/info/1084/7653.htm" alt="张红伟教授连续两年被教育部评为榜样高校教务处长  target=" _blank "">【置顶】张红伟教授连续两年被教育部评为榜样高校教务处长</a>
                    </div>

                    <div class="each_news">
                        <a href="https://jwc.scu.edu.cn/info/1084/8187.htm" alt="拔尖计划2.0、强基计划（化学、生物、基础医学）本硕博贯通式人才培养方案修订工作推进会顺利召开  target=" _blank "">拔尖计划2.0、强基计划（化学、生物、基础医学）本硕博贯通式人才...</a>
                    </div>

                    <div class="each_news">
                        <a href="https://jwc.scu.edu.cn/info/1084/8185.htm" alt="拔尖计划2.0、强基计划（数理力学）本硕博贯通式人才培养方案修订工作推进会顺利召开  target=" _blank "">拔尖计划2.0、强基计划（数理力学）本硕博贯通式人才培养方案修订...</a>
                    </div>

                    <div class="each_news">
                        <a href="https://jwc.scu.edu.cn/info/1084/8177.htm" alt="川大学子踊跃参加教育部“2021年度拔尖计划2.0优秀学生学术交流会”  target=" _blank "">川大学子踊跃参加教育部“2021年度拔尖计划2.0优秀学生学术交流会...</a>
                    </div>

                    <div class="each_news">
                        <a href="https://jwc.scu.edu.cn/info/1084/8176.htm" alt="拔尖计划2.0、强基计划（文科）本硕博贯通式人才培养方案研制工作推进会顺利召开  target=" _blank "">拔尖计划2.0、强基计划（文科）本硕博贯通式人才培养方案研制工作...</a>
                    </div>

                    <div class="each_news">
                        <a href="https://jwc.scu.edu.cn/info/1084/8175.htm" alt="我校学子在2021“外研社·国才杯”四川省大学生英语挑战赛中喜获佳绩  target=" _blank "">我校学子在2021“外研社·国才杯”四川省大学生英语挑战赛中喜获佳...</a>
                    </div>

                </div>
            </div>
            <div class="yiqing">
                <div class="content_name">疫情专栏</div>
                <div class="yiqing_content">

                    <div class="each_yiqing">
                        <a href="https://jwc.scu.edu.cn/info/1083/7080.htm" alt="四川大学本科线上教学管理办法  target=" _blank "">【置顶】四川大学本科线上教学管理办法</a>
                    </div>

                    <div class="each_yiqing">
                        <a href="https://jwc.scu.edu.cn/info/1083/7177.htm" alt="华西口腔疫情期间多举措有序推进实验教学顺利进行  target=" _blank "">华西口腔疫情期间多举措有序推进实验教学顺利进行</a>
                    </div>

                    <div class="each_yiqing">
                        <a href="https://jwc.scu.edu.cn/info/1083/7155.htm" alt="抗疫中的云课堂，长本领的好地方——记霍巍老师《考古学与文明史》线上授课  target=" _blank "">抗疫中的云课堂，长本领的好地方——记霍巍老师《考古学与文明史》线上授课</a>
                    </div>

                    <div class="each_yiqing">
                        <a href="https://jwc.scu.edu.cn/info/1083/7026.htm" alt="道之以德，齐之以礼——记历史学院黄博老师《中华文化（历史篇）》在线授课  target=" _blank "">道之以德，齐之以礼——记历史学院黄博老师《中华文化（历史篇）》在线授课</a>
                    </div>

                    <div class="each_yiqing">
                        <a href="https://jwc.scu.edu.cn/info/1083/7024.htm" alt="文章从来关兴废——记《中华文化（历史篇）》课上的第二战线  target=" _blank "">文章从来关兴废——记《中华文化（历史篇）》课上的第二战线</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="hotsearch">
            <div class="content_name">微博热搜</div>
            <div class="hotsearch_content">

                <div class="list-wrapper">
                    <div class="rank">
                        <span>1</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E5%A4%B1%E8%81%94%E6%91%84%E5%BD%B1%E5%B8%88%E9%B9%BF%E9%81%93%E6%A3%AE%E7%A1%AE%E8%AE%A4%E8%BA%AB%E4%BA%A1%23&amp;Refer=top" alt="" target="_blank">失联摄影师鹿道森确认身亡</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>2</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E6%B5%81%E6%B5%AA%E5%9C%B0%E7%90%832%E5%89%A7%E7%BB%84%E9%82%80%E6%97%A0%E8%85%BF%E8%80%81%E4%BA%BA%E5%A4%8F%E4%BC%AF%E6%B8%9D%E6%8E%A2%E7%8F%AD%23&amp;Refer=top" alt="" target="_blank">流浪地球2剧组邀无腿老人夏伯渝探班</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>3</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E8%B5%B6%E8%80%83%E6%97%A0%E6%AD%A2%E5%A2%83%E5%A5%8B%E6%96%97%E4%B8%8D%E5%81%9C%E6%81%AF%23&amp;Refer=top" alt="" target="_blank">赶考无止境奋斗不停息</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>4</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E9%A3%8E%E8%B5%B7%E6%B4%9B%E9%98%B3%E5%BC%80%E6%92%AD%23&amp;Refer=top" alt="" target="_blank">风起洛阳开播</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>5</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E5%A5%B3%E5%BF%83%E7%90%86%E5%B8%88%E8%B1%86%E7%93%A3%E8%AF%84%E5%88%865.1%23&amp;Refer=top" alt="" target="_blank">女心理师豆瓣评分5.1</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>6</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E4%B8%8D%E6%85%8E%E6%8E%A5%E8%A7%A6%E8%89%BE%E6%BB%8B%E7%97%85%E6%AF%92%E6%9C%8972%E5%B0%8F%E6%97%B6%E8%87%AA%E6%95%91%23&amp;Refer=top" alt="" target="_blank">不慎接触艾滋病毒有72小时自救</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>7</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E8%A2%AB%E7%96%AB%E6%83%85%E5%81%B7%E8%B5%B0%E7%9A%84%E8%BF%99%E4%B8%A4%E5%B9%B4%23&amp;Refer=top" alt="" target="_blank">被疫情偷走的这两年</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>8</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E8%A9%B9%E5%A7%86%E6%96%AF%E6%96%B0%E5%86%A0%E6%A3%80%E6%B5%8B%E5%91%88%E9%98%B3%E6%80%A7%23&amp;Refer=top" alt="" target="_blank">詹姆斯新冠检测呈阳性</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>9</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E5%8A%A0%E6%8B%BF%E5%A4%A7%E9%B9%85%E5%9B%9E%E5%BA%94%E4%B8%AD%E5%9B%BD%E5%8C%BA%E9%97%A8%E5%BA%97%E4%B8%8D%E5%BE%97%E9%80%80%E8%B4%A7%23&amp;Refer=top" alt="" target="_blank">加拿大鹅回应中国区门店不得退货</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>10</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%232021%E7%9A%84%E6%9C%80%E5%90%8E1%E4%B8%AA%E6%9C%88%23&amp;Refer=top" alt="" target="_blank">2021的最后1个月</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>11</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E9%A3%8E%E8%B5%B7%E6%B4%9B%E9%98%B3%E5%85%A5%E7%A5%9E%E9%83%BD%E7%BB%88%E6%9E%81%E9%A2%84%E5%91%8A%23&amp;Refer=top" alt="" target="_blank">风起洛阳入神都终极预告</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>12</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E7%AA%A6%E9%AA%81%E9%87%8E%E5%A4%96%E7%94%9F%E5%90%83%E8%99%AB%E5%8D%B5%23&amp;Refer=top" alt="" target="_blank">窦骁野外生吃虫卵</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>13</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E7%8E%8B%E5%AD%90%E7%92%87%E4%B9%94%E6%8C%AF%E5%AE%87%E5%8D%83%E9%87%91%E7%9B%B2%E4%BE%A0cp%E5%A5%BD%E5%B8%A6%E6%84%9F%23&amp;Refer=top" alt="" target="_blank">王子璇乔振宇千金盲侠cp好带感</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>14</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E6%8E%92%E9%AA%A8%E6%B6%A8%E4%BB%B7%E8%B6%8550%25%23&amp;Refer=top" alt="" target="_blank">排骨涨价超50%</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>15</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E4%B8%BA%E4%BB%80%E4%B9%88QQ%E6%AF%94%E5%BE%AE%E4%BF%A1%E6%9B%B4%E5%8F%97%E5%B9%B4%E8%BD%BB%E4%BA%BA%E6%AC%A2%E8%BF%8E%23&amp;Refer=top" alt="" target="_blank">为什么QQ比微信更受年轻人欢迎</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>16</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E5%8D%81%E4%BA%8C%E6%9C%88%E6%96%87%E6%A1%88%23&amp;Refer=top" alt="" target="_blank">十二月文案</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>17</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E6%84%BF%E7%8E%AB%E7%91%B0%E5%B9%B4%E5%B9%B4%E4%B8%BA%E4%BD%A0%E7%9B%9B%E5%BC%80%23&amp;Refer=top" alt="" target="_blank">愿玫瑰年年为你盛开</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>18</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E6%99%AE%E4%BA%AC%E5%9B%9E%E5%87%BB%E4%B8%AD%E5%9B%BD%E5%A8%81%E8%83%81%E8%AE%BA%23&amp;Refer=top" alt="" target="_blank">普京回击中国威胁论</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>19</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%2312%E6%9C%88%E4%BD%A0%E5%A5%BD%23&amp;Refer=top" alt="" target="_blank">12月你好</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>20</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E5%86%85%E8%92%99%E5%8F%A4%E6%96%B0%E5%A2%9E%E6%9C%AC%E5%9C%9F%E7%A1%AE%E8%AF%8A91%E4%BE%8B%23&amp;Refer=top" alt="" target="_blank">内蒙古新增本土确诊91例</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>21</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E5%AE%8B%E7%A5%96%E5%84%BF%E8%AF%B4%E4%B8%8D%E8%83%BD%E8%80%81%E6%BC%94%E5%81%B6%E5%83%8F%E5%89%A7%23&amp;Refer=top" alt="" target="_blank">宋祖儿说不能老演偶像剧</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>22</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E5%A5%B3%E5%BF%83%E7%90%86%E5%B8%88%E5%9B%9E%E5%BA%94%E7%9F%A5%E4%B9%8E%E8%B1%86%E7%93%A3%E5%BC%80%E5%88%86%23&amp;Refer=top" alt="" target="_blank">女心理师回应知乎豆瓣开分</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>23</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%E5%8D%8E%E4%B8%AD%E5%B8%88%E8%8C%83%E5%A4%A7%E5%AD%A6&amp;Refer=top" alt="" target="_blank">华中师范大学</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>24</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E4%B8%96%E7%95%8C%E8%89%BE%E6%BB%8B%E7%97%85%E6%97%A5%23&amp;Refer=top" alt="" target="_blank">世界艾滋病日</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>25</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%E9%A3%8E%E8%B5%B7%E6%B4%9B%E9%98%B3&amp;Refer=top" alt="" target="_blank">风起洛阳</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>26</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E7%87%83%E7%83%A7%E8%84%82%E8%82%AA%E9%9D%B6%E7%82%B9%E8%A2%AB%E5%8F%91%E7%8E%B0%23&amp;Refer=top" alt="" target="_blank">燃烧脂肪靶点被发现</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>27</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E5%8D%83%E4%B8%87%E5%88%AB%E5%9C%A8%E5%AF%9D%E5%AE%A4%E9%87%8C%E5%81%9A%E5%90%83%E6%92%AD%23&amp;Refer=top" alt="" target="_blank">千万别在寝室里做吃播</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>28</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E7%94%B7%E7%AB%A5%E5%91%9B%E5%85%A5%E9%92%A2%E7%8F%A0%E5%8D%8A%E4%BE%A7%E8%82%BA%E8%A2%AB%E5%A0%B5%E6%AD%BB%23&amp;Refer=top" alt="" target="_blank">男童呛入钢珠半侧肺被堵死</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>29</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%23%E4%B8%AD%E5%9B%BD%E9%93%B6%E8%A1%8C%E5%85%B0%E5%B7%9E%E5%88%86%E8%A1%8C%E8%8E%B7%E6%89%B9%E7%BB%88%E6%AD%A2%E8%90%A5%E4%B8%9A%23&amp;Refer=top" alt="" target="_blank">中国银行兰州分行获批终止营业</a>
                    </div>
                </div>

                <div class="list-wrapper">
                    <div class="rank">
                        <span>30</span>
                    </div>
                    <div class="each_hot_search_content">
                        <a href="https://s.weibo.com//weibo?q=%2311%E6%9C%8830%E6%97%A5%E6%96%B0%E5%A2%9E%E7%A1%AE%E8%AF%8A%E7%97%85%E4%BE%8B113%E4%BE%8B%23&amp;Refer=top" alt="" target="_blank">11月30日新增确诊病例113例</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>