<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Result for Search</title>
</head>

<body>
    <thead>
        <tr class="center">
            <th style="border-top:3px solid #ddd;background-color:transparent;">查看</th>
            <th style="border-top:3px solid #ddd;background-color:transparent;">教师名</th>
            <th style="border-top:3px solid #ddd;background-color:transparent;">院系</th>
        </tr>
    </thead>
    <tbody id="jskbtbody" style="overflow: auto;">
        {% for i in search_result%}
        <tr>
            <td>
                <button id="td_div" title="查看" class="btn btn-info btn-xs btn-round" onclick="location='/teacherNum?num={{i.0}}'">
                    <i id="td_div" class="ace-icon fa fa-eye bigger-120"></i> 查看</button>
            </td>
            <td>{{i.1}}</td>
            <td>{{i.3}}</td>
        </tr>
        <br/>
        {% endfor %}
    </tbody>
</body>

</html>